body{
    height:100vh;
}


.nav-link{
    color:aliceblue; 
}

.icon-box{
    border:1px solid black;
    margin-bottom: 10px;
}
.container{
    padding-top: 5%;

}
.footer{
    margin-top: 20px;
    height:100px;
    color:aliceblue;
}
.btn{
    padding-bottom: 10px;
}


